
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.register-page , .login-page{
    img.captcha{
        margin-bottom: 0px;
        margin-top:10px;
        cursor:pointer;
    }
}

.independent{
    margin-top: 22px;
}

/* User profile page */
.users-show-page{
    .user-info{
        .thumbnail{
            margin-bottom: 0px;
        }
    }
}
