
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.register-page , .login-page{
    .header{
        margin-bottom: 22px;
    }

    img.captcha{
        margin-bottom: 0px;
        margin-top:10px;
        cursor:pointer;
    }
}

.independent{
    margin-top: 22px;
}
